<log4net>
  <appender name="ArabicTutorialsRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <rollingStyle value="Date"/>
    <preserveLogFileNameExtension value="true"/>
    <staticLogFileName value="false"/>
    <datePattern value="'ArabicTutorialsCommands_'yyyy-MM-dd"/>
    <file type="log4net.Util.PatternString" value="C:\\ArabicTutorials\\.log"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="10"/>

    <maximumFileSize value="10MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date{ABSOLUTE} [%thread] %level &#xD;&#xA;                            %logger - %message%newlineExtra Info: %property{&#xD;&#xA;                            testProperty}%newline%exception"/>
    </layout>
  </appender>

  <root>
    <level value="All"/>
    <appender-ref ref="ArabicTutorialsRollingLogFileAppender"/>
  </root>
</log4net>